<div>

<p>
    Make your application better by springboot/angular8/jpa.<br>
    Spring server provides data and angular displays data.<br>
    That makes a clear seperation between thin server side<br>
    and client side implementation. JPA releases a burden  <br>
    from developer in persisting data to/from DB.<br>
    <br>
    This project is a technical probe for preparation of<br>
    converting Request\Offer\Order web application which was<br>
    structured by js/jsp/struts/angularJS/jdbc persistence<br>
    to architecture of angular8/springboot/jpa(hibernate).<br>
    This project focus on technologies probe. Sample data<br>
    and usages is very simplified, data may be not meaningful.<br>
    <br>
    To test, first make quote(by vendor), then add offer <br>
    (by supplier), finally vendor build order from offer   <br>
    and submit it(real application allows supplier, <br>
    vendor login as different account).
</p>
 </div>             