   p {
    font-weight:bold;
    font-size:22px;
    font-family: Consolas;
    padding:10px;
    }

    div {
        font-family:raleway;
         position:absolute;
         top:150px; 
         left: 400px;
    }